@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap');

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 70px;
    justify-content: space-between;
    padding: 0 75px;
}

.github-link {
    display: flex;
    align-items: center;
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    text-decoration: none;
    color: black;
    margin: 0;
    gap: 8px;
}

.github-link img {
    height: 22px;
    width: 22px;
    display: block;
}

h1 {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 75px;
    padding-right: 75px;
    z-index: 1000;
    height: 32px;
    text-align: center;
}

.header {
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding-top: 70px;
    height: 100vh;
}

.color-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 75px;
    transition: grid-template-columns 0.3s ease;
}

.grid-item {
    height: 200px;
    width: 1fr;
    background-color: #222;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    font-family: 'Barlow Condensed', Arial, sans-serif;
    font-weight: 500;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.color-grid:hover .grid-item{
    width: 1fr;
}

.color-grid:hover .grid-item:hover{
    width: 1.5fr;
}

